*{
    margin: 0;
    padding: 0;
}
.top-banner{
    color: orange;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding:2% 0px 0px 65px;
}
.h-nav-bar {
    margin-bottom:5%;
    margin-left: 40%;
    font-size: 20px;

}
.h-navbar-link {
    padding-left:50px;
    padding-right: 5px;
	text-decoration: none;
	color: #444444;
}
.h-home{
    color: orange;
    font-weight:bold ;
}
.h-login{
background-color: orange;
padding: 20px 40px 20px 40px;
}
.top-header{
    display: flex;
}
.header{
    font-weight:bold ;
    font-size: 50px;

}
.top-header-left{
    padding: 80px 0px 0px 70px ;
    font-family: sans-serif;
    font-weight: light;
    font-size: 25px;
    width: 50%;
    line-height: 1.6;
}

.top-header-right{
    background-image: url("./image/finehouse.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 50%;
    padding: 0px 80px 0px 0px;
}
#buy{
    display: inline-block;
    width: 5%;
    background-color: cornsilk;
    color: orange;
    margin: 0px 10px 0px 70px;
    font-size: 27px;
    font-weight: bold;
    padding: 18px;
    

}
#rent{
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    background-color: burlywood;
    padding: 18px;
    
}
.box-content{
    background-color: cornsilk;
    font: sans-serif;
    font-size: 20px;
    padding: 10px 50px 20px 50px;
    width: 80%;
    height: 10vh;
}
#location{
    display: inline-block;
    margin: 0px 0px 0px 70px;
    width: 20%;
    border-right: 2px solid black;

}
#property{
    display: inline-block;
    width: 20%;
    border-right: 2px solid black;
    }
#price{
    display: inline-block;
    width: 20%;
}
#search{
    display: inline-block;
    color: white;
    background-color: orange;
    padding: 10px 60px 10px 50px;

}
.middle-header{
    display: flex;
}
.second-header{
    font-weight:bold ;
    font-size: 40px;
    width: 100%;
}
.middle-header-right{
        padding: 80px 0px 0px 100px ;
        font-family: sans-serif;
        font-weight: light;
        font-size: 20px;
        width: 40%;
        line-height: 1.6;
    }
    
    .middle-header-left{
        background-image: url("./image/tall\ building.jpg");
        background-position: center;
        background-size: cover;
        height: 85vh;
        width: 50%;
        /* padding: 80px 80px 0px 0px; */
        padding-top: 100px;
    }
}